<div class="navbar">
  <div class="background-image">
    <img src="../../../assets/img/cover-1.jpg" alt="">
  </div>
  <div class="content">
    <h1>New Space Rustavi</h1>
    <p><nz-icon nzType="phone" nzTheme="outline"></nz-icon> 551 700 700</p>
    <p><nz-icon nzType="wifi" nzTheme="outline"></nz-icon> პაროლი: newspace</p>

    <div class="buttons">
      <div class="left-side">
        <button routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">მთავარი მენიუ</button>
      <button routerLink="/bar" routerLinkActive="active">ბარის მენიუ</button>
      </div>

      <div class="right-side">
        <button  class="back-btn" (click)="goBack()"><nz-icon nzType="arrow-left" nzTheme="outline" /></button>
      </div>
    </div>
  </div>
</div>
