.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .content {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .btn {
    max-width: 525px;
    width: 90vw;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 26px;
    cursor: pointer;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease, opacity 0.3s ease;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
    color: white;
  
    &:hover {
      transform: scale(1.1);
      opacity: 0.9;
    }
  
    /* overlay - შავი ფონი */
    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5); /* ნახევრად შავი ფონი */
      border-radius: 26px;
      z-index: 1; /* ტექსტი მის ზემოთ დარჩება */
    }
  
    /* ტექსტი ზემოდან */
    span {
      position: relative;
      z-index: 2;
    }
  }
   
  .cocktails {
    background-image: url('../../../../assets/img/drinks.jpg');
  }
  .illy {
    background-image: url('../../../../assets/img/illy-1.jpg');
  }
  .wine {
    background-image: url('../../../../assets/img/wine.jpg');
  }