<div class="container">
    <div class="content">
        <div class="btn illy" routerLink="/Tea&Coffee">
            <div class="overlay"></div>
            <span>Tea&Coffee</span>
        </div>
        <div class="btn cocktails" routerLink="/cocktails">
            <div class="overlay"></div>
            <span>cocktails</span>
        </div>
        <div class="btn wine" routerLink="/wine">
            <div class="overlay"></div>
            <span>Wine</span>
        </div>
    </div>
</div>
