<div class="container">
    <div class="content">
        <div class="menu-card">
            <div class="menu-card__image">
              <img [src]="image" [alt]="" />
            </div>
            <div class="menu-card__content">
              <h3 class="menu-card__title">{{ name }}</h3>
              <p class="menu-card__description">{{ description }}</p>
              <div class="menu-card__footer">
                <span class="menu-card__price">{{ price }}$</span>
              </div>
            </div>
          </div>
          
    </div>
</div>