
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .menu-card {
        display: flex;
        flex-direction: column;
        background: #fff;
        border-radius: 30px;
        overflow: hidden;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
        width: 95%;
        &__image {
          img {
            width: 100%;
            height: 150px;
            display: block;
          }
        }
        &__content {
          padding: 16px;
          max-height: 150px;
          height: 100%;
        }
        &__title {
          font-size: 18px;
          font-weight: bold;
          margin-bottom: 4px;
          color: black;
        }
      
        &__description {
          font-size: 14px;
          color: #555;
          margin-bottom: 12px;
        }
      
        &__footer {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
      
        &__price {
          font-size: 20px;
          font-weight: bold;
          color: #e76f51;
        }
  }
}