<div class="container">
    <div class="content">
        <div class="btn food" routerLink="/dishes">
            <div class="overlay"></div>
            <span>Dishes</span>
        </div>
        <div class="btn salad" routerLink="/salad">
            <div class="overlay"></div>
            <span>Salads</span>
        </div>
        <div class="btn soup" routerLink="/soup">
            <div class="overlay"></div>
            <span>Soup</span>
        </div>
        <div class="btn dessert" routerLink="/dessert">
            <div class="overlay"></div>
            <span>Desserts</span>
        </div>
    </div>
    <p>NewSapceMenu.com</p>
</div>
