<div class="container">
    <div class="content">
        <div class="btn food" routerLink="/dishes">
            <div class="overlay"></div>
            <span>Dishes</span>
        </div>
        <div class="btn salad" routerLink="/salads">
            <div class="overlay"></div>
            <span>Salads</span>
        </div>
        <div class="btn pizza" routerLink="/pizza">
            <div class="overlay"></div>
            <span>Pizza</span>
        </div>
        <div class="btn soup" routerLink="/soups">
            <div class="overlay"></div>
            <span>Soup</span>
        </div>
        <div class="btn asia" routerLink="/asia-foods">
            <div class="overlay"></div>
            <span>Asia Kitchen</span>
        </div>
        <div class="btn dessert" routerLink="/desserts">
            <div class="overlay"></div>
            <span>Desserts</span>
        </div>
    </div>
</div>
