<div class="container">
    <div class="content">
        <div class="btn food" routerLink="/dishes">
            <div class="overlay"></div>
            <span>ქართული კერძები</span>
        </div>
         <div class="btn pizza" routerLink="/pizza">
            <div class="overlay"></div>
            <span>ცომეული</span>
        </div>
        <div class="btn salad" routerLink="/salads">
            <div class="overlay"></div>
            <span>აპეტაიზერი</span>
        </div>
        <div class="btn soup" routerLink="/soups">
            <div class="overlay"></div>
            <span>წვნიანი</span>
        </div>
        <div class="btn asia" routerLink="/asia">
            <div class="overlay"></div>
            <span>დაფები</span>
        </div>
        <div class="btn dessert" routerLink="/desserts">
            <div class="overlay"></div>
            <span>დესერტები</span>
        </div>
    </div>
</div>
